# Finding Station Locations

## Import the libraries

In [2]:
import pandas as pd
import numpy as np
import sys

print("Python Version:", sys.version)
print("Pandas Version:", pd.__version__)
print("Numpy Version:", np.__version__)

Python Version: 3.6.3 |Anaconda, Inc.| (default, Oct  6 2017, 12:04:38)
[GCC 4.2.1 Compatible Clang 4.0.1 (tags/RELEASE_401/final)]
Pandas Version: 0.20.3
Numpy Version: 1.14.0

## Read in the data
### Read in station location data
We pulled station location data from the MTA website

In [3]:
stations = pd.read_csv('http://web.mta.info/developers/data/nyct/subway/Stations.csv')
stations.head()

,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,1,1,R01,BMT,Astoria,Astoria - Ditmars Blvd,Q,N W,Elevated,40.775036,-73.912034
1,2,2,R03,BMT,Astoria,Astoria Blvd,Q,N W,Elevated,40.770258,-73.917843
2,3,3,R04,BMT,Astoria,30 Av,Q,N W,Elevated,40.766779,-73.921479
3,4,4,R05,BMT,Astoria,Broadway,Q,N W,Elevated,40.761820,-73.925508
4,5,5,R06,BMT,Astoria,36 Av,Q,N W,Elevated,40.756804,-73.929575

### Read in our cleaned turnstile data

In [4]:
turns = pd.read_pickle('data/cleaned_turnstile_data.pkl')
turns.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,entries_diff,exit_diff,first_row_group,entries_outlier,exit_outlier,week,hour,timegroup,timegroupstr,wkdaynbr
54505,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,89.0,12.0,False,False,False,12,4,1,12am - 4am,6
54506,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,33.0,7.0,False,False,False,12,8,2,4am - 8am,6
54507,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,168.0,51.0,False,False,False,12,12,3,8am - 12pm,6
54508,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,527.0,60.0,False,False,False,12,16,4,12pm - 4pm,6
54509,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,756.0,47.0,False,False,False,12,20,5,4pm - 8pm,6

### Read in a join table

As you might have noticed, there is not common field to merge the stations data with our turnstile data :( But don't worry!! We found a super handy table that links the station ID from the stations table to a booth id which corresponds to the control area id (c/a) in our turnstile data (Yay!!!) 

Let's read in that join table

*File downloaded from: https://docs.google.com/spreadsheets/d/10sz0xWODQ02Kemx6ovS0NLQ_gA0YV9YQtdD7uiCcyjI/edit?usp=sharing&authkey=CMTzrvwE*

In [5]:
join_table = pd.read_csv('data/Remote-Booth-Station - turnstiles 2013.csv')
join_table.head()

  Remote Booth stop_id.2013   Station.2013 Line.2013 Division.2013
0   R051  A002          R11  LEXINGTON AVE    456NQR           BMT
1   R050  A004          R11  LEXINGTON AVE    456NQR           BMT
2   R079  A006          R13    5 AVE-59 ST       NQR           BMT
3   R079  A007          R13    5 AVE-59 ST       NQR           BMT
4   R080  A010          R14    57 ST-7 AVE       NQR           BMT

## Join the turnstile data with station locations

### Join the stations data with our join file to get booth id

In [6]:
stations_booth = pd.merge(join_table ,stations,how='left',left_on='stop_id.2013',right_on='GTFS Stop ID')
stations_booth.head()

,Remote,Booth,stop_id.2013,Station.2013,Line.2013,Division.2013,Station ID,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,R051,A002,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
1,R050,A004,R11,LEXINGTON AVE,456NQR,BMT,7.0,613.0,R11,BMT,Astoria,Lexington Av/59 St,M,N W R,Subway,40.762660,-73.967258
2,R079,A006,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
3,R079,A007,R13,5 AVE-59 ST,NQR,BMT,8.0,8.0,R13,BMT,Astoria,5 Av/59 St,M,N W R,Subway,40.764811,-73.973347
4,R080,A010,R14,57 ST-7 AVE,NQR,BMT,9.0,9.0,R14,BMT,Broadway - Brighton,57 St - 7 Av,M,N Q R W,Subway,40.764664,-73.980658

In [7]:
missing = stations_booth['GTFS Latitude'].isnull().sum()

print("We're missing the stop id in our join table for {} stations".format(missing))
print("...but we have booth data for {} of our total stations!".format(round((len(stations_booth)-missing)/len(stations_booth),2)))

We're missing the stop id in our join table for 41 stations
...but we have booth data for 0.95 of our total stations!

### Join the turnstile data with our stations data

In [8]:
turns_loc = pd.merge(turns, stations_booth, how='inner',left_on='c/a',right_on='Booth')
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,Complex ID,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude
0,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
1,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
2,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
3,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739
4,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,168.0,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739

In [9]:
missing_t = turns_loc['GTFS Latitude'].isnull().sum()

print("We're missing the corresponding c/a id for {} turnstile records".format(missing_t))
print("...but we have location data for {} of our total turnstile records!".format(round((len(turns_loc)-missing_t)/len(turns_loc),2)))

We're missing the corresponding c/a id for 369104 turnstile records
...but we have location data for 0.93 of our total turnstile records!

Check out the station names from the turnstile data and station loc data to make sure they agree

In [10]:
diff_stations = [(x, y) for x, y in zip(turns_loc['station'], turns_loc['Stop Name'])]
set(diff_stations)

{('ATL AV-BARCLAY', 'Atlantic Av - Barclays Ctr'),
 ('PARK PLACE', 'Grand Central - 42 St'),
 ('PARK PLACE', 'Park Pl'),
 ('138/GRAND CONC', '138 St - Grand Concourse'),
 ('BURKE AV', 'Burke Av'),
 ('SARATOGA AV', 'Saratoga Av'),
 ('UNION ST', 'Union St'),
 ('METS-WILLETS PT', 'Mets - Willets Point'),
 ('JOURNAL SQUARE', nan),
 ('3 AV 138 ST', '3 Av - 138 St'),
 ('30 AV', '30 Av'),
 ('135 ST', '135 St'),
 ('W 8 ST-AQUARIUM', 'W 8 St - NY Aquarium'),
 ('MARBLE HILL-225', 'Marble Hill - 225 St'),
 ('BEACH 60 ST', 'Beach 60 St'),
 ('68ST-HUNTER CO', '68 St - Hunter College'),
 ('CENTRAL AV', 'Central Av'),
 ('MT EDEN AV', 'Mt Eden Av'),
 ('BROADWAY JCT', 'Broadway Jct'),
 ('BUSHWICK AV', 'Bushwick Av - Aberdeen St'),
 ('WORLD TRADE CTR', 'World Trade Center'),
 ('KOSCIUSZKO ST', 'Kosciuszko St'),
 ('BUHRE AV', 'Buhre Av'),
 ('HOYT ST', 'Hoyt St'),
 ('59 ST COLUMBUS', '59 St - Columbus Circle'),
 ('BURNSIDE AV', 'Burnside Av'),
 ('BRIARWOOD', 'Briarwood - Van Wyck Blvd'),
 ('174 ST', '174 St'),
 ('MARCY AV', 'Marcy Av'),
 ('LORIMER ST', 'Lorimer St'),
 ('YORK ST', 'York St'),
 ('50 ST', 'Bay 50 St'),
 ('47-50 STS ROCK', '47-50 Sts - Rockefeller Ctr'),
 ('14 ST-UNION SQ', '14 St - Union Sq'),
 ('215 ST', '215 St'),
 ('169 ST', '169 St'),
 ('25 AV', '25 Av'),
 ('167 ST', '167 St'),
 ('ST. GEORGE', 'St George'),
 ('WALL ST', 'Wall St'),
 ('69 ST', '69 St'),
 ('CYPRESS HILLS', 'Cypress Hills'),
 ('2 AV', '2 Av'),
 ('WHITEHALL S-FRY', 'Whitehall St'),
 ('INWOOD-207 ST', 'Inwood - 207 St'),
 ('HALSEY ST', 'Halsey St'),
 ('FORDHAM RD', 'Fordham Rd'),
 ('BEACH 90 ST', 'Beach 90 St'),
 ('18 AV', '18 Av'),
 ('PELHAM BAY PARK', 'Pelham Bay Park'),
 ('JUNCTION BLVD', 'Junction Blvd'),
 ('NEREID AV', 'Nereid Av'),
 ('9 AV', '9 Av'),
 ('TIMES SQ-42 ST', 'Times Sq - 42 St'),
 ('NEWARK BM BW', nan),
 ('170 ST', '170 St'),
 ('SENECA AVE', 'Seneca Av'),
 ('104 ST', '104 St'),
 ('34 ST-HERALD SQ', '34 St - Herald Sq'),
 ('AVENUE U', 'Avenue U'),
 ('116 ST', '116 St'),
 ('111 ST', '111 St'),
 ('SIMPSON ST', 'Simpson St'),
 ('SUTPHIN BLVD', 'Sutphin Blvd - Archer Av - JFK Airport'),
 ('BLEECKER ST', 'Bleecker St'),
 ('1 AV', '1 Av'),
 ('79 ST', '79 St'),
 ('7 AV', '7 Av'),
 ('GROVE STREET', nan),
 ('ROCKAWAY BLVD', 'Rockaway Blvd'),
 ('CORTLANDT ST', 'Cortlandt St'),
 ('HUNTERS PT AV', 'Hunters Point Av'),
 ('BAYCHESTER AV', 'Baychester Av'),
 ('5 AV/53 ST', '5 Av/53 St'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy'),
 ('BROOK AV', 'Brook Av'),
 ('ORCHARD BEACH', nan),
 ('AVENUE N', 'Avenue N'),
 ('103 ST', '103 St'),
 ('28 ST', '28 St'),
 ('75 AV', '75 Av'),
 ('WINTHROP ST', 'Winthrop St'),
 ('121 ST', '121 St'),
 ('59 ST', 'Lexington Av/59 St'),
 ('CONEY IS-STILLW', 'Coney Island - Stillwell Av'),
 ('CYPRESS AV', 'Cypress Av'),
 ('PARKCHESTER', 'Parkchester'),
 ('6 AV', '6 Av'),
 ('71 ST', '71 St'),
 ('BEVERLEY ROAD', 'Beverley Rd'),
 ('SHEEPSHEAD BAY', 'Sheepshead Bay'),
 ('LONGWOOD AV', 'Longwood Av'),
 ('77 ST', '77 St'),
 ('ROCKAWAY AV', 'Rockaway Av'),
 ('EASTCHSTER/DYRE', 'Eastchester - Dyre Av'),
 ('PARSONS BLVD', 'Parsons Blvd'),
 ('FOREST AVE', 'Forest Av'),
 ('METROPOLITAN AV', 'Metropolitan Av'),
 ('36 AV', '36 Av'),
 ('KINGSTON AV', 'Kingston Av'),
 ('81 ST-MUSEUM', '81 St - Museum of Natural History'),
 ('GRAND ST', 'Grand St'),
 ('NOSTRAND AV', 'Nostrand Av'),
 ('57 ST', '57 St'),
 ('HOUSTON ST', 'Houston St'),
 ('SUTTER AV-RUTLD', 'Sutter Av - Rutland Rd'),
 ('BOROUGH HALL', 'Borough Hall'),
 ('ASTORIA DITMARS', 'Astoria - Ditmars Blvd'),
 ('75 ST-ELDERTS', '75 St'),
 ('PRESIDENT ST', 'President St'),
 ('BROADWAY', 'Broadway'),
 ('RIT-ROOSEVELT', nan),
 ('TWENTY THIRD ST', nan),
 ('53 ST', '53 St'),
 ('PATH WTC 2', nan),
 ("B'WAY-LAFAYETTE", 'Broadway-Lafayette St'),
 ('39 AV', '39 Av'),
 ('176 ST', '176 St'),
 ('QUEENS PLAZA', 'Queens Plaza'),
 ('VAN SICLEN AV', 'Van Siclen Av'),
 ('GRANT AV', 'Grant Av'),
 ('DITMAS AV', 'Ditmas Av'),
 ('55 ST', '55 St'),
 ('CARROLL ST', 'Carroll St'),
 ('FT HAMILTON PKY', 'Fort Hamilton Pkwy'),
 ('34 ST-PENN STA', '34 St - Penn Station'),
 ('9TH STREET', nan),
 ('14 ST', '14 St'),
 ('DELANCEY/ESSEX', 'Delancey St'),
 ('23 ST', '23 St'),
 ('59 ST', '59 St'),
 ('33 ST', '33 St'),
 ('BEACH 105 ST', nan),
 ('8 ST-NYU', '8 St - NYU'),
 ('67 AV', '67 Av'),
 ('8 AV', '8 Av'),
 ('KINGSTON-THROOP', 'Kingston - Throop Avs'),
 ('WILSON AV', 'Wilson Av'),
 ('NASSAU ST', 'Nassau Av'),
 ('MYRTLE-WILLOUGH', 'Myrtle - Willoughby Avs'),
 ('CHAUNCEY ST', 'Chauncey St'),
 ('GRAND-NEWTOWN', 'Grand Av - Newtown'),
 ('BAY RIDGE AV', 'Bay Ridge Av'),
 ('CANAL ST', 'Canal St'),
 ('JKSN HT-ROOSVLT', 'Jackson Hts - Roosevelt Av'),
 ('PARKSIDE AV', 'Parkside Av'),
 ('82 ST-JACKSON H', '82 St - Jackson Hts'),
 ('E 180 ST', 'E 180 St'),
 ('FLUSHING AV', 'Flushing Av'),
 ('HEWES ST', 'Hewes St'),
 ('LIBERTY AV', 'Liberty Av'),
 ('NEW UTRECHT AV', 'New Utrecht Av'),
 ('3 AV', '3 Av'),
 ('ELMHURST AV', 'Elmhurst Av'),
 ('NEWARK HM HE', nan),
 ('61 ST WOODSIDE', 'Woodside - 61 St'),
 ('51 ST', '51 St'),
 ('AVENUE J', 'Avenue J'),
 ('NEW LOTS', 'New Lots Av'),
 ('190 ST', '190 St'),
 ('225 ST', '225 St'),
 ('CATHEDRAL PKWY', 'Cathedral Pkwy (110 St)'),
 ('5 AV/59 ST', '5 Av/59 St'),
 ('PELHAM PKWY', 'Pelham Pkwy'),
 ('207 ST', '207 St'),
 ('NEWARK C', nan),
 ('CLARK ST', 'Clark St'),
 ('DYCKMAN ST', 'Dyckman St'),
 ('FRANKLIN ST', 'Franklin St'),
 ('KINGS HWY', 'Kings Hwy'),
 ('21 ST-QNSBRIDGE', '21 St - Queensbridge'),
 ('BEACH 25 ST', 'Beach 25 St'),
 ('JAMAICA CENTER', 'Jamaica Center - Parsons/Archer'),
 ('BEACH 36 ST', 'Beach 36 St'),
 ('LIVONIA AV', 'Livonia Av'),
 ('FRANKLIN AV', 'Franklin Av'),
 ('33 ST-RAWSON ST', '33 St'),
 ('NORWOOD 205 ST', 'Norwood - 205 St'),
 ('CANARSIE-ROCKAW', 'Canarsie - Rockaway Pkwy'),
 ('CHAMBERS ST', 'Chambers St'),
 ('KINGSBRIDGE RD', 'Kingsbridge Rd'),
 ('ROOSEVELT ISLND', 'Roosevelt Island'),
 ('FOREST HILLS 71', 'Forest Hills - 71 Av'),
 ('15 ST-PROSPECT', '15 St - Prospect Park'),
 ('137 ST CITY COL', '137 St - City College'),
 ('155 ST', '155 St'),
 ('ROCKAWAY PARK B', 'Rockaway Park - Beach 116 St'),
 ('BEDFORD AV', 'Bedford Av'),
 ('UTICA AV', 'Utica Av'),
 ('BERGEN ST', 'Bergen St'),
 ('GRAHAM AV', 'Graham Av'),
 ('VERNON-JACKSON', 'Vernon Blvd - Jackson Av'),
 ('FULTON ST', 'Fulton St'),
 ('CASTLE HILL AV', 'Castle Hill Av'),
 ('NEWKIRK AV', 'Newkirk Av'),
 ('OCEAN PKWY', 'Ocean Pkwy'),
 ('EXCHANGE PLACE', nan),
 ('MIDDLETOWN RD', 'Middletown Rd'),
 ('CROWN HTS-UTICA', 'Crown Hts - Utica Av'),
 ('57 ST-7 AV', '57 St - 7 Av'),
 ('FREEMAN ST', 'Freeman St'),
 ('MOSHOLU PKWY', 'Mosholu Pkwy'),
 ('72 ST', '72 St'),
 ('QUEENSBORO PLZ', nan),
 ('CHRISTOPHER ST', 'Christopher St - Sheridan Sq'),
 ('219 ST', '219 St'),
 ('E 149 ST', 'E 149 St'),
 ('INTERVALE AV', 'Intervale Av'),
 ('JUNIUS ST', 'Junius St'),
 ('MONTROSE AV', 'Montrose Av'),
 ('JFK JAMAICA CT1', nan),
 ('149/GRAND CONC', '149 St - Grand Concourse'),
 ('HARLEM 148 ST', 'Harlem - 148 St'),
 ('63 DR-REGO PARK', '63 Dr - Rego Park'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd'),
 ('BAY RIDGE-95 ST', 'Bay Ridge - 95 St'),
 ('HOWARD BCH JFK', 'Howard Beach - JFK Airport'),
 ('PAVONIA/NEWPORT', nan),
 ('GRD CNTRL-42 ST', 'Grand Central - 42 St'),
 ('KEW GARDENS', 'Kew Gardens - Union Tpke'),
 ('CLASSON AV', 'Classon Av'),
 ('NECK RD', 'Neck Rd'),
 ('NORWOOD AV', 'Norwood Av'),
 ('5 AVE', '5 Av'),
 ('BEACH 98 ST', nan),
 ('DEKALB AV', 'DeKalb Av'),
 ('WOODLAWN', 'Woodlawn'),
 ("E 143/ST MARY'S", "E 143 St - St Mary's St"),
 ('PROSPECT PARK', 'Prospect Park'),
 ('233 ST', '233 St'),
 ('145 ST', '145 St'),
 ('BEDFORD PK BLVD', 'Bedford Park Blvd - Lehman College'),
 ('COURT SQ', 'Court Sq'),
 ('WHITLOCK AV', 'Whitlock Av'),
 ('WOODHAVEN BLVD', 'Woodhaven Blvd'),
 ('49 ST', '49 St'),
 ('AVENUE X', 'Avenue X'),
 ('SHEPHERD AV', 'Shepherd Av'),
 ('BEDFORD-NOSTRAN', 'Bedford - Nostrand Avs'),
 ('ALABAMA AV', 'Alabama Av'),
 ('RALPH AV', 'Ralph Av'),
 ('AVENUE P', 'Avenue P'),
 ('CITY / BUS', nan),
 ('STEINWAY ST', 'Steinway St'),
 ('90 ST-ELMHURST', '90 St - Elmhurst Av'),
 ('36 ST', 'Beach 36 St'),
 ('ASTOR PL', 'Astor Pl'),
 ('PENNSYLVANIA AV', 'Pennsylvania Av'),
 ('GATES AV', 'Gates Av'),
 ('50 ST', '50 St'),
 ('ALLERTON AV', 'Allerton Av'),
 ('183 ST', '183 St'),
 ('LACKAWANNA', nan),
 ('168 ST', '168 St - Washington Hts'),
 ('125 ST', '125 St'),
 ('CENTRAL PK N110', 'Central Park North (110 St)'),
 ('BEACH 44 ST', 'Beach 44 St'),
 ('BROOKLYN BRIDGE', 'Brooklyn Bridge - City Hall'),
 ('MORGAN AV', 'Morgan Av'),
 ('42 ST-PORT AUTH', '42 St - Port Authority Bus Terminal'),
 ('ASTORIA BLVD', 'Astoria Blvd'),
 ('NORTHERN BLVD', 'Northern Blvd'),
 ('HARRISON', nan),
 ('PROSPECT AV', 'Prospect Av'),
 ('103 ST-CORONA', '103 St - Corona Plaza'),
 ('BRIGHTON BEACH', 'Brighton Beach'),
 ('163 ST-AMSTERDM', '163 St - Amsterdam Av'),
 ('88 ST', '88 St'),
 ('OZONE PK LEFFRT', 'Ozone Park - Lefferts Blvd'),
 ('JACKSON AV', 'Jackson Av'),
 ('LEXINGTON AV/53', 'Lexington Av/53 St'),
 ('FLUSHING-MAIN', 'Flushing - Main St'),
 ('96 ST', '96 St'),
 ('116 ST-COLUMBIA', '116 St - Columbia University'),
 ('191 ST', '191 St'),
 ('CITY HALL', 'City Hall'),
 ('36 ST', '36 St'),
 ('14TH STREET', '14 St'),
 ('BROAD ST', 'Broad St'),
 ('EAST BROADWAY', 'East Broadway'),
 ('46 ST', '46 St'),
 ('85 ST-FOREST PK', '85 St - Forest Pkwy'),
 ('DELANCEY/ESSEX', 'Essex St'),
 ('CLINTON-WASH AV', 'Clinton - Washington Avs'),
 ('MYRTLE-WYCKOFF', 'Myrtle - Wyckoff Avs'),
 ('V.CORTLANDT PK', 'Van Cortlandt Park - 242 St'),
 ('BAY PKWY', 'Bay Pkwy'),
 ('20 AV', '20 Av'),
 ('ST LAWRENCE AV', 'St Lawrence Av'),
 ('BAY 50 ST', 'Bay 50 St'),
 ('TREMONT AV', 'Tremont Av'),
 ('BEACH 67 ST', 'Beach 67 St'),
 ('BOWLING GREEN', 'Bowling Green'),
 ('GREENPOINT AV', 'Greenpoint Av'),
 ('145 ST', nan),
 ('MORRIS PARK', 'Morris Park'),
 ('EASTN PKWY-MUSM', 'Eastern Pkwy - Brooklyn Museum'),
 ('SUTPHIN-ARCHER', 'Sutphin Blvd'),
 ('JAY ST-METROTEC', 'Jay St - MetroTech'),
 ('80 ST', '80 St'),
 ('181 ST', '181 St'),
 ('CORTELYOU RD', 'Cortelyou Rd'),
 ('45 ST', '45 St'),
 ('JAMAICA 179 ST', 'Jamaica - 179 St'),
 ('CRESCENT ST', 'Crescent St'),
 ('TOMPKINSVILLE', 'Tompkinsville'),
 ('METROPOLITAN AV', 'Middle Village - Metropolitan Av'),
 ('SUTTER AV', 'Sutter Av'),
 ('110 ST', '110 St'),
 ('HUNTS POINT AV', 'Hunts Point Av'),
 ('BEVERLY RD', 'Beverly Rd'),
 ('NEVINS ST', 'Nevins St'),
 ('CLEVELAND ST', 'Cleveland St'),
 ('157 ST', '157 St'),
 ('CHURCH AV', 'Church Av'),
 ('86 ST', '86 St'),
 ('WAKEFIELD/241', 'Wakefield - 241 St'),
 ('231 ST', '231 St'),
 ('BOWERY', 'Bowery'),
 ('21 ST', '21 St'),
 ('WESTCHESTER SQ', 'Westchester Sq - E Tremont Av'),
 ('NEPTUNE AV', 'Neptune Av'),
 ('74 ST-BROADWAY', '74 St - Broadway'),
 ('42 ST-BRYANT PK', '42 St - Bryant Pk'),
 ('3 AV-149 ST', '3 Av - 149 St'),
 ('161/YANKEE STAD', '161 St - Yankee Stadium'),
 ('PATH WTC', nan),
 ('4AV-9 ST', '9 St'),
 ('MYRTLE AV', 'Myrtle Av'),
 ('ATLANTIC AV', 'Atlantic Av'),
 ('4 AV-9 ST', '4 Av'),
 ('WEST FARMS SQ', 'West Farms Sq - E Tremont Av'),
 ('52 ST', '52 St'),
 ('40 ST LOWERY ST', '40 St'),
 ('VAN SICLEN AVE', 'Van Siclen Av'),
 ('46 ST BLISS ST', '46 St'),
 ('KNICKERBOCKER', 'Knickerbocker Av'),
 ('238 ST', '238 St'),
 ('LAFAYETTE AV', 'Lafayette Av'),
 ('AQUEDUCT N.COND', 'Aqueduct - N Conduit Av'),
 ('MORISN AV/SNDVW', 'Morrison Av- Sound View'),
 ('THIRTY ST', nan),
 ('RIT-MANHATTAN', nan),
 ('HIGH ST', 'High St'),
 ('FLATBUSH AV-B.C', 'Flatbush Av - Brooklyn College'),
 ('GUN HILL RD', 'Gun Hill Rd'),
 ('BROAD CHANNEL', 'Broad Channel'),
 ('ZEREGA AV', 'Zerega Av'),
 ('175 ST', '175 St'),
 ('W 4 ST-WASH SQ', nan),
 ('BRONX PARK EAST', 'Bronx Park East'),
 ('GRAND ARMY PLAZ', 'Grand Army Plaza'),
 ('AVENUE I', 'Avenue I'),
 ('BOTANIC GARDEN', 'Botanic Garden'),
 ('LEXINGTON AV/63', 'Lexington Av/63 St'),
 ('174-175 STS', '174-175 Sts'),
 ('SMITH-9 ST', 'Smith - 9 Sts'),
 ('66 ST-LINCOLN', '66 St - Lincoln Center'),
 ('AQUEDUCT RACETR', 'Aqueduct - N Conduit Av'),
 ('JAMAICA VAN WK', 'Jamaica - Van Wyck'),
 ('AVENUE M', 'Avenue M'),
 ('FAR ROCKAWAY', 'Far Rockaway - Mott Av'),
 ('AVENUE H', 'Avenue H'),
 ('NASSAU AV', 'Nassau Av'),
 ('JEFFERSON ST', 'Jefferson St'),
 ('COURT SQ-23 ST', 'Court Sq'),
 ('ELDER AV', 'Elder Av'),
 ('STERLING ST', 'Sterling St'),
 ('THIRTY THIRD ST', nan),
 ('NEWKIRK PLAZA', 'Newkirk Plaza'),
 ('NEWARK HW BMEBE', nan),
 ('HOYT-SCHER', 'Hoyt - Schermerhorn Sts'),
 ('EUCLID AV', 'Euclid Av'),
 ('65 ST', '65 St'),
 ('SPRING ST', 'Spring St'),
 ('BAY RIDGE AV', 'Bay Ridge - 95 St'),
 ('25 ST', '25 St'),
 ('182-183 STS', '182-183 Sts'),
 ('FRESH POND RD', 'Fresh Pond Rd'),
 ('EAST 105 ST', 'E 105 St'),
 ('PRINCE ST', 'Prince St'),
 ('18 ST', '18 St'),
 ('RECTOR ST', 'Rector St'),
 ('NEW LOTS AV', 'New Lots Av')}

In [11]:
station_count = turns_loc.station.nunique()
nans = set([pair for pair in diff_stations if np.nan in pair])

print('{} Stations do not have location information: {} of total'.format(len(nans), len(nans)/station_count))

26 Stations do not have location information: 0.06951871657754011 of total

In [12]:
set(nans)

{('145 ST', nan),
 ('9TH STREET', nan),
 ('BEACH 105 ST', nan),
 ('BEACH 98 ST', nan),
 ('CITY / BUS', nan),
 ('EXCHANGE PLACE', nan),
 ('GROVE STREET', nan),
 ('HARRISON', nan),
 ('JFK JAMAICA CT1', nan),
 ('JOURNAL SQUARE', nan),
 ('LACKAWANNA', nan),
 ('NEWARK BM BW', nan),
 ('NEWARK C', nan),
 ('NEWARK HM HE', nan),
 ('NEWARK HW BMEBE', nan),
 ('ORCHARD BEACH', nan),
 ('PATH WTC', nan),
 ('PATH WTC 2', nan),
 ('PAVONIA/NEWPORT', nan),
 ('QUEENSBORO PLZ', nan),
 ('RIT-MANHATTAN', nan),
 ('RIT-ROOSEVELT', nan),
 ('THIRTY ST', nan),
 ('THIRTY THIRD ST', nan),
 ('TWENTY THIRD ST', nan),
 ('W 4 ST-WASH SQ', nan)}

## Add new column for clean Station ID for use in visualizations

In [13]:
turns_loc['station_id'] = turns_loc['Stop Name'] + turns_loc['Line']

In [14]:
turns_loc.head()

,c/a,unit,scp,station,linename,division,date,time,desc,entries,...,GTFS Stop ID,Division,Line,Stop Name,Borough,Daytime Routes,Structure,GTFS Latitude,GTFS Longitude,station_id
0,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,04:00:00,REGULAR,338971959,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
1,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,08:00:00,REGULAR,338971992,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
2,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,12:00:00,REGULAR,338972160,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
3,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,16:00:00,REGULAR,338972687,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St
4,N086,R282,00-00-02,SPRING ST,CE,IND,03/25/2017,20:00:00,REGULAR,338973443,...,A33,IND,8th Av - Fulton St,Spring St,M,C E,Subway,40.726227,-74.003739,Spring St8th Av - Fulton St

## Pickle the raw turnstile data with lat/longs

In [15]:
turns_loc.to_pickle('data/turns_data_locations.pkl')

## Find total entry volume by hour block of day

In [16]:
# Find total entries per hour block per station 
stations_block = turns_loc.groupby(['station_id',
                                   'GTFS Latitude',
                                   'GTFS Longitude',
                                   'wkdaynbr', 
                                   'timegroupstr', 
                                   'date'], as_index=False)[['entries_diff']].sum()

print(len(stations_block))
stations_block.sort_values(by='entries_diff', ascending=False, inplace=True)
stations_block.head(10)

507679

,station_id,GTFS Latitude,GTFS Longitude,wkdaynbr,timegroupstr,date,entries_diff
338552,Grand Central - 42 StLexington - Shuttle,40.751776,-73.976848,4,4pm - 8pm,04/20/2017,43977.0
338714,Grand Central - 42 StLexington - Shuttle,40.751776,-73.976848,5,4pm - 8pm,03/31/2017,42156.0
476741,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,2,4pm - 8pm,06/27/2017,40638.0
476891,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,04/26/2017,40582.0
476884,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,03/30/2016,40487.0
476883,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,03/29/2017,40410.0
476910,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,06/29/2016,40360.0
476896,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,05/11/2016,40182.0
476731,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,2,4pm - 8pm,05/23/2017,40050.0
476890,Times Sq - 42 StBroadway - 7Av,40.755290,-73.987495,3,4pm - 8pm,04/20/2016,39729.0

Write out to csv for Tableau viz

In [17]:
stations_block.to_csv('data/station_vol_by_hour.csv', index=False)

In [18]:
turns_loc.to_csv('data/turns_data_locations.csv', index=False)